<div class="lib-layout lib-media-list">
  <div class="lib-layout lib-layout-cell-20 lib-layout-gap-2 lib-layout-justify">
    <%= render partial: 'lib/product_preview', collection: collection, as: :product %>
  </div>
</div>
