<!--
  = require paper-dialog/paper-dialog
  = require paper-button/paper-button
  = require paper-radio-button/paper-radio-button
  = require paper-radio-group/paper-radio-group
  = require paper-checkbox/paper-checkbox
  = require paper-input/paper-input
-->
<polymer-element name="fp-blockform" attributes="object">
  <template>
    <style>
      :host paper-dialog {
        /*z-index: 1100;*/
      }
    </style>

    <paper-dialog id="dialog" heading="{{'manage.content_blocks.editing' | t}}" autoCloseDisabled layered on-core-overlay-open="{{onPaperDialogOpen}}">
      <form>
        <lib-input-radiogroup name="content_block.block_style" value="{{object.block_style}}"></lib-input-radiogroup>
        <template bind="{{object}}">
          <template if="{{block_style == 'text'}}">
            <template repeat="{{text in text_attributes}}">
              <p>{{text.locale}}</p>
              <lib-input-text name="content_block.text" value="{{text.text}}"></lib-input-text>
            </template>
            <!-- <lib-input-radiogroup name="content_block.font_style" value="{{font_style}}"></lib-input-radiogroup> -->
          </template>
          
          <template if="{{block_style == 'image'}}">
            <lib-input-uploadcare name="content_block.image" value="{{image}}"></lib-input-uploadcare>
          </template>

          <template if="{{block_style == 'embed'}}">
            <lib-input-text name="content_block.embed_code" value="{{embed_code}}"></lib-input-text>
          </template>

          <lib-input-boolean name="content_block.padding" value="{{padding}}"></lib-input-boolean>

          <lib-input-boolean name="content_block.stretch_height" value="{{stretch_height}}"></lib-input-boolean>
          
          <lib-input-radiogroup name="content_block.border_style" value="{{border_style}}"></lib-input-radiogroup>
          
          <lib-input-radiogroup name="content_block.background_style" value="{{background_style}}"></lib-input-radiogroup>
        </template>
      </form>
      <paper-button label="{{'actions.close' | t }}" affirmative></paper-button>
      
    </paper-dialog>
  </template>
  <script>
    Polymer('fp-blockform', {
      created: function(){
        if (!this.object)
          this.object = {}
      },
      open: function(){
        document.querySelectorAll('html /deep/ fp-blockform').array().forEach(function(form){
          if (form.$.dialog.opened)
            form.close()
        })
        this.$.dialog.opened = true
        // this.async(function(){
        //   this.$.dialog.$.overlay.updateTargetDimensions()
        // }.bind(this))
      },

      close: function() {
        this.$.dialog.opened = false
        this.fire('fp-blockform-close')
      },

      t: function(key) {
        return I18n.t(key)
      },

      onPaperDialogOpen: function(event, opened){
        if (opened != true) // the `!=` is important
          this.close()
      }
    });
  </script>
</polymer-element>
