<!-- 
  = require fullpicture/contentblocks/embed
  = require fullpicture/contentblocks/image
  = require fullpicture/contentblocks/spacer
  = require fullpicture/contentblocks/text
  = require fullpicture/contentblocks/manage
-->

<polymer-element name="fp-canvas-contentblock" attributes="block state">
  <template>
    <section id="contentBlock"></section>
    <template if="{{state == 'move'}}">
      <fp-manage-move block="{{block}}" on-manage-move="{{onMove}}"></fp-manage-move>
    </template>
    <template if="{{state == 'edit'}}">
      <fp-manage-panelaction on-click="{{ onEdit }}"></fp-manage-panelaction>
    </template>
    <template if="{{state == 'delete'}}">
      <fp-manage-panelaction on-click="{{ onDelete }}"></fp-manage-panelaction>
    </template>
  </template>

  <script>
    Polymer('fp-canvas-contentblock', {
      observe: {
        'block.block_style': 'blockStyleChanged',
        'block.order_number': 'orderChanged',
        'block.width': 'layoutChanged',
        'block.padding': 'contentBlockClassesChanged',
        'block.image_style': 'contentBlockClassesChanged',
        'block.font_style': 'contentBlockClassesChanged',
        'block.border_style': 'contentBlockClassesChanged',
        'block.background_style': 'contentBlockClassesChanged'
      },

      contentBlockClassesChanged: function(){
        this.$.contentBlock.className = this.contentBlockClasses(this.block)
      },

      blockStyleChanged: function(_, style) {
        var element = document.createElement('fp-contentblock-' + this.block.block_style)
        element.block = this.block
        this.$.contentBlock.innerHTML = ''
        this.$.contentBlock.appendChild(element)
      },

      orderChanged: function(oldval, newval){
        this.style.order = newval
      },

      layoutChanged: function(oldval, newval) {
        this.className = "lib-layout-cell-" + this.block.width
      },

      onDelete: function(event) {
        if (confirm('Confirm.')) {
          this.fire('block-delete')
        }
      },

      onEdit: function(event) {
        this.fire('block-edit')
      },

      onMove: function(event, data){
        this.fire('block-move', data)
      },

      contentBlockClasses: function(block) {
        var attrs = ['block', 'image', 'font', 'border', 'background']
        var classes = [
          "lib-contentBlock",
          "lib-layout-cell-" + block.width,
          "lib-layout-row-" + (block.height || 'auto'),
          "lib-layout-cell-vcenter"
        ].concat(
          attrs.filter(
            function(attr){ return !!block[attr + "_style"] }
          ).map(
            function(attr){ return "lib-contentBlock-" + attr + "-" + block[attr + "_style"] }
          )
        )

        if (block.padding)
          classes.push('lib-contentBlock-padding')

        return classes.join(' ')
      }
    });
  </script>
</polymer-element>