<!--
  = require fullpicture/contentblocks/embed
  = require fullpicture/contentblocks/image
  = require fullpicture/contentblocks/spacer
  = require fullpicture/contentblocks/text
  = require fullpicture/contentblocks/manage
-->

<polymer-element name="fp-contentblock" attributes="model text" extends="lib-layout-cell">
  <template>
    <style>
      :host {
        order: {{order}};
        display: flex;
        position: relative;
        transition: opacity 0.02s linear;
      }

      :host([stretchheight]){
        -ms-align-self: stretch;
        -webkit-align-self: stretch;
        align-self: stretch;

      }

      :host([fontstyle=large]) {
        text-align: center;
      }

      :host([borderstyle=white]) {
        border: 9px solid transparent;
        border-color: white;
      }

      :host([borderstyle=black]) {
        border: 9px solid transparent;
        border-color: black;
      }

      :host([borderstyle=gold]) {
        border: 9px solid transparent;
        border-color: rgb(245, 226, 123);
      }
      
      :host([link]:hover) {
/*        opacity: 0.7;*/
      }
      
      #blockLink {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
      }
    </style>
    <template if="{{model.link}}">
      <a href="{{model.link}}" id="blockLink"></a>
    </template>
    <shadow></shadow>
  </template>
  <script>
    (function(){
      Polymer('fp-contentblock', {
        order: 0,

        vcenter: true,
        hcenter: true,

        publish: {
          blockstyle: {reflect: true},
          padding: {reflect: false},
          stretchheight: {reflect: true},
          imagestyle: {reflect: true},
          fontstyle: {reflect: true},
          borderstyle: {reflect: true},
          backgroundstyle: {reflect: true},
          order: {reflect: true},
          link: {reflect: true}
        },

        observe: {
          'model.block_style': function(_, v){ this.blockstyle = v },
          'model.order_number': function(_, v){ this.order = v },
          'model.width': function(_, v){ this.width = v },
          'model.height': function(_, v){ this.height = v },
          'model.padding': function(_, v){ this.padding = v },
          'model.stretch_height': function(_, v){ this.stretchheight = v },
          'model.image_style': function(_, v){ this.imagestyle = v },
          'model.font_style': function(_, v){ this.fontstyle = v },
          'model.border_style': function(_, v){ this.borderstyle = v },
          'model.background_style': function(_, v){ this.backgroundstyle = v },
          'model.link': function(_, v){ this.link = !!v }
        },
        
        paddingChanged: function(){
          if (this.padding)
            this.classList.add('lib-contentBlock-padding')
          else
            this.classList.remove('lib-contentBlock-padding')
        },

        blockstyleChanged: function(_, style) {
          var content = this.querySelector('#content')
          if (content) {
            content.remove()
          }
          var element = document.createElement('fp-contentblock-' + style)
          element.model = this.model
          element.id = 'content'
          this.appendChild(element)
        },

        fontstyleChanged: function(oldval, newval){
          var styles = ['regular', 'condenced', 'large']
          if (styles.indexOf(newval) > -1){
            this._toggleStyle('lib-textStyle-', styles, newval)
          }
        },

        backgroundstyleChanged: function(oldval, newval){
          var styles = ['none', 'gold', 'black', 'goldGradient', 'blackGradient']
          if (styles.indexOf(newval) > -1){
            this._toggleStyle('lib-boxStyle-', styles, newval)
          }
        },

        _toggleStyle: function(prefix, styles, style) {
          styles.forEach(function(s){
            this.classList.remove(prefix + s)
          }.bind(this))
          this.classList.add(prefix + style)
        }
      });
    })()
  </script>
</polymer-element>

<polymer-element name="fp-contentblock-managed" extends="fp-contentblock" attributes="state maxwidth">
  <template>
    <style>
      :host {
        position: relative;
        transition: flex-basis 0.1s linear,
          margin 0.1s linear,
          box-shadow 0.1s linear;
      }

      :host([managed]) {
        flex-basis: calc({{width}} * 100% / {{$.layout.element.parentModules || $.layout.element.modules}} - 1%)!important;
        margin: 0.5%;
        background: white;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      }

      :host /deep/ .fp-manage-panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        user-select: none;
      }

      :host([borderstyle]) /deep/ .fp-manage-panel {
        top: -9px;
        left: -9px;
        right: -9px;
        bottom: -9px;
      }
    </style>
    <shadow></shadow>
    <template if="{{state == 'move'}}">
      <fp-manage-move on-manage-move="{{onMove}}"></fp-manage-move>
    </template>
    <template if="{{state == 'resize'}}">
      <fp-manage-resize
        on-manage-before-resize-x="{{onBeforeResizeX}}"
        on-manage-before-resize-y="{{onBeforeResizeY}}"
        on-manage-resize-x="{{onResizeX}}"
        on-manage-resize-y="{{onResizeY}}">
      </fp-manage-resize>
    </template>
    <template if="{{state == 'edit'}}">
      <fp-manage-edit block="{{model}}"></fp-manage-edit>
    </template>
    <template if="{{state == 'delete'}}">
      <fp-manage-panelaction on-click="{{ onDelete }}"></fp-manage-panelaction>
    </template>
  </template>
  <script>
    Polymer('fp-contentblock-managed', {
      maxwidth: 24,

      onDelete: function(event) {
        if (confirm('Confirm.')) {
          this.fire('block-delete')
        }
      },
      
      onMove: function(event, data){
        data.source = data.source.parentNode.host
        this.fire('block-move', data)
      },

      onBeforeResizeX: function(event){
        this.widthBeforeResizing = this.clientWidth
        this.relativeWidthBeforeResizing = this.model.width
      },

      onBeforeResizeY: function(event){
        this.absoluteHeightBeforeResizing = this.clientHeight
        this.relativeHeightBeforeResizing = this.minHeight()
      },

      onResizeX: function(event, data) {
        var sectorWidth = this.widthBeforeResizing / this.relativeWidthBeforeResizing
        var width = Math.floor((this.widthBeforeResizing + data.delta) / sectorWidth)
        width = Math.max(1, Math.min(this.maxwidth, width))
        this.fire('block-resize-x', {width: width, model: this.model})
      },

      onResizeY: function(event, data) {
        var height = Math.floor((this.absoluteHeightBeforeResizing + data.delta) / this.sectorHeight)
        height = Math.max(this.minHeight(), height)
        this.fire('block-resize-y', {height: height, model: this.model})
      },

      minHeight: function(){
        return Math.floor(this.clientHeight / this.sectorHeight);
      }
    });
  </script>
</polymer-element>
