<!--
  = require core-image/core-image
-->
<polymer-element name="fp-contentblock-image" attributes="model" flex self-stretch layout horizontal>
  <template>
    <style>
      :host {
        align-items: stretch;
        position: relative;
      }
      
      .selector {
        position: absolute;
        top: 50%;
        padding: 0;
        margin: 0;
        background: rgb(245, 226, 123);
        color: black;
        border: 0;
        font: inherit;
        font-size: 24px;
        cursor: pointer;
        height: 36px;
        width: 36px;
        line-height: 36px;
        text-align: center;
        outline: 0;
        margin-top: -18px;
        z-index: 2;
      }

      .selector.next {
        right: 0;
      }
      .selector.previous {
        left: 0;
      }
      
      img {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
      }
    </style>
    <lib-range id="range" stop="{{count}}"></lib-range>
    <lib-parent id="contentBlock" match="fp-contentblock, fp-contentblock-managed"></lib-parent>
    <lib-pages id="pages" selected="0" horizontal layout flex>
      <template repeat="{{index in $.range.collection}}">
        <template if="{{!stretchHeight}}">
          <img src="http://www.ucarecdn.com/{{model.image}}/nth/{{index}}/" />
        </template>
        <template if="{{stretchHeight}}">
          <section horizontal layout flex self-stretch>
            <img src="http://www.ucarecdn.com/{{model.image}}/nth/{{index}}/" largeHidden mediumHidden smallVisible />
            <core-image flex src="http://www.ucarecdn.com/{{model.image}}/nth/{{index}}/" sizing="cover" smallHidden></core-image>
          </section>
        </template>
      </template>
    </lib-pages>
    <template if="{{count > 1}}">
      <button class="selector previous" on-click="{{selectPrevious}}">&larr;</button>
      <button class="selector next" on-click="{{selectNext}}">&rarr;</button>
    </template>

  </template>

  <script>
    Polymer('fp-contentblock-image', {
      observe: {
        count: 0,
        '$.contentBlock.element.stretchheight': function(__, stretchHeight){
          this.stretchHeight = stretchHeight
        },
        'model.image': function(){
          var params = this.model.image.split('~')
          this.count = (params.length == 2) ? params[1] : 0
        }
      },
      publish: {
        stretchHeight: {reflect: true, value: false}
      },
      selectNext: function(){
        this.$.pages.selected = (this.$.pages.selectedIndex == this.count - 1) ? 0 : (this.$.pages.selectedIndex + 1)
      },
      selectPrevious: function(){
        this.$.pages.selected = (this.$.pages.selectedIndex == 0) ? this.count - 1 : this.$.pages.selectedIndex - 1
      }

    })
  </script>
</polymer-element>