<polymer-element name="fp-contentblock-spacer">
  <template>
    <style>
      :host(hidden) {
        display: none;
      }
    </style>
    <lib-reference match="#mediaMonitor" id="media"></lib-reference>
    <lib-parent match="lib-layout" id="layout"></lib-parent>
    <lib-parent match="fp-contentblock, fp-contentblock-managed" id="cell"></lib-parent>
  </template>
  <script>
    Polymer({
      observe: {
        '$.media.reference.small': 'phoneScreenChanged'
      },
      phoneScreenChanged: function(){
        this.$.cell.element.hidden = this.$.media.reference.small && this.$.cell.element.width < (this.$.layout.element.modules || this.$.layout.element.parentModules)
      }
    })
  </script>
</polymer-element>