<div class="lib-layout">
  <div class="lib-layout-cells-20 lib-layout-gap-2">
    <h1 class="lib-contentBlock-padding">
      Order #<%= resource.public_id %>
    </h1>

    <%= render 'lib/order', order: resource %>
  </div>
</div>
