<lib-layout-cell width="20" gap="2">
  <lib-layout>
    <lib-layout-cell width="20" class="lib-contentBlock-padding">
      <h1><%= resource.title.value %></h1>
      <h2><%= t('.news') %></h2>
    </lib-layout-cell>
    
    <p class="lib-textStyle-caption">
      <%= I18n.l resource.created_at.to_date, format: :long %>
    </p>
    <div class="lib-boxStyle-inFlow">
      <%= render 'lib/page', page: resource, width: 20 %>
    </div>
  </lib-layout>
</lib-layout-cell>
