.app-siteTitle {
  
  position: relative;
  
  lib-layout {
    height: 160px;
  }

  .lst-logo img {
    width: 486px;
    height: 55px;
  }
  
  .app-siteTitle-menu {
    position: absolute;
    right: 10px;
    top: 10px ;
    text-align: right;
    
    a {
      float: right;
    }
  }
}

.app-siteTitleTiny {
  display: none;
  width: 100%;
  text-align: center;
}

.app-header {
  height: 218px;
}

.app-stickyHeader {
  .app-siteTitle {
    display: none;
  }

  .app-siteTitleTiny {
    display: block;
    position: fixed; 
    top: 0px;
    left: 0;
    z-index: 1;
  }

  .app-header {
    height: 58;
  }

  .app-menu {
    position: fixed; 
    top: 58px;
    left: 0;
    z-index: 1;
  }
}

.app-footer {
  text-align: center;
  lib-boxStyle-halfpadding {
    padding: 0 25px 25px 25px;
  }
}