.app-siteTitle {
  
  position: relative;
  
  lib-layout {
    height: $app-siteTitleHeight;
  }

  .lst-logo {
    padding: 0 25px;
  }
  .lst-logo img {
    width: 437px;
    height: 50px;
  }
  
  .app-siteTitle-menu {
    position: absolute;
    right: 10px;
    top: 10px ;
    text-align: right;
    
    a {
      float: right;
    }
  }
}

.app-header {
  min-height: $app-siteTitleHeight + $app-blockHeight;
}

.app-siteTitleTiny {
  display: none;
  width: 100%;
  text-align: center;

}

.app-stickyHeader {
  .app-siteTitle {
    display: none;
  }

  .app-siteTitleTiny {
    display: block;
    position: fixed; 
    height: $app-blockHeight;
    line-height: $app-blockHeight * 1.5;
    top: 0;
    left: 0;
    z-index: 1;
    a {
      width: 90%;
      display: block;
      margin-left: 5%;
    }
  }

  .app-header {
    height: 58;
  }

  .app-menu {
    position: fixed; 
    top: $app-blockHeight;
    left: 0;
    z-index: 1;
  }
}

.app-footer {
  text-align: center;
  .lib-boxStyle-halfpadding {
    padding-top: 0;
  }
}