// = require application

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$settings-color-gold: rgb(245, 226, 123);
$settings-color-light: rgb(250, 241, 189);

@import 'fp/canvas';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

form fieldset.inputs {
  box-shadow: none;
}

form fieldset.inputs.translated > ol > li fieldset:not(.has_many_fields) ol {
float: none;
width: 100%;
padding: 0;
}