// = require application

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$settings-color-gold: rgb(245, 226, 123);
$settings-color-light: rgb(250, 241, 189);

@import 'fp/canvas';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.translated-text-input {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-right: 1%!important;
  
  li:not([class]), .has_many_remove {
    display: none!important;
  }
}

body {
  color: black;
}