<lib-layout-cell width="24" class="lib-contentBlock-padding">
  <h1><%= resource.name.value %></h1>
  <h2><%= resource.characteristic.name.value %></h2>
</lib-layout-cell>

<lib-layout hcenter>
  <lib-layout-cell width="20">
    <lib-layout>
	<%= render partial: 'lib/product_preview', collection: products, as: :product %>
	<div class="lib-boxStyle-inFlow">
            <%= render 'lib/page', page: resource, width: 20 %>
	</div>
    </lib-layout>
  </lib-layout-cell>
</lib-layout>
