<div class="lib-layout lib-buttons-groupSolid">
  <% [
    ['facebook', "https://www.facebook.com/sharer/sharer.php?s=100&p[url]=#{url}"],
    ['twitter', "https://twitter.com/intent/tweet?url=#{url}"],
    ['vkontakte', "http://vkontakte.ru/share.php?url=#{url}"],
    ['pinterest', "http://www.pinterest.com/pin/find/?url=#{url}"]
  ].each do |name, link| %>
    <%= link_to t(".#{name}"), link, class: 'lib-buttons-small lib-buttons-light lib-layout-cell-4', target: '_blank' %>
  <% end %>
</div>
